.feedContainer {
    margin-top: 5%;
    width: 50%;
    max-height: 96vh;
    overflow-y: scroll
}

.mapContainer {
    /* margin-top: 56px; */
    padding-top: 56px;
    max-height: 96vh;
    width: 50%;
}

.contMain{
    /* overflow-y: hidden */
}
