.landing {
    background:  linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./background.svg') no-repeat;
    background-attachment: fixed;
    background-size:100%;
}

.firstScreen {
    margin-left: 25%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    width: 50%;
    height: 1000px;
    color: white;
}

.textOne h1 {
    text-align: center;
}
.textTwo h2 {
    text-align: center;
}
.textThree {
    text-align: center;
    margin: 10px;
}



.сolors1 {
    first: #756867;
    second: #d5d6d2;
    third: #353c3f;
    fourth: #ff8d3f;
}

.сolors2 {
    first: #217ca3;
    second: #e29930;
    third: #32384d;
    fourth: #211f30;
}

.secondScreen {
  height: 760px;
  color: #333;
	background: #f6f6f6;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.secondPageContent {
  display: flex;
  justify-content: center;
}

.secondPageContent h3 {
  margin-top: 50px;
}

.thirdScreen {
  height: 560px;
  color: #333;
	background: #217ca3;
}

.thirdPageContent {
  display: flex;
  justify-content: center;
}

.thirdPageContent h3 {
  margin-top: 50px;
}

.footer {
  height: 90px;
  color: white;
	background: #333;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

.footerContent {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
}

.footerContent h5 {
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}
