.landing {
    background-color: #217CA3;
    
}

.firstScreen {
    height: 960px;
}



.сolors1 {
    first: #756867;
    second: #d5d6d2;
    third: #353c3f;
    fourth: #ff8d3f;
}

.сolors2 {
    first: #217ca3;
    second: #e29930;
    third: #32384d;
    fourth: #211f30;
}

