.formText {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.loginPage {
  background: url('./loginBG3.png') no-repeat;
  /* background-attachment: fixed; */
  height: 100vh;
  overflow-y: hidden;
  background-size:103%;
}

.btsub :hover {
  background-color: '#f46e16'
}

